on:
  workflow_dispatch:

name: Dryrun Publish Extension
permissions:
  contents: read
jobs:
  test:
    uses: ./.github/workflows/main.yaml
  dryrun-publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"
          scope: "@openfga"
          always-auth: false
          cache: "npm"
          cache-dependency-path: ./package-lock.json
      - run: npm ci
      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@ca5561daa085dee804bf9f37fe0165785a9b14db # 2.0.0
        with:
          pat: "this_is_a_stub"
          registryUrl: https://marketplace.visualstudio.com/
          dryRun: true
