on:
  workflow_call:
  workflow_dispatch:
  merge_group:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"
          scope: "@openfga"
          always-auth: false
          cache: "npm"
          cache-dependency-path: ./package-lock.json
      - run: npm install
      - run: npm run lint -- --ignore-path .galintignore
      - run: npm audit
        continue-on-error: true

  build:
    needs: lint
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"
          scope: "@openfga"
          always-auth: false
          cache: "npm"
          cache-dependency-path: ./package-lock.json
      - run: npm install
      - run: npx playwright install
      - run: npm run compile
      - run: xvfb-run -a npm test
        if: runner.os == 'Linux'
      - run: npm test
        if: runner.os != 'Linux'
