on:
  workflow_call:
  workflow_dispatch:
  merge_group:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version: 24.x
          registry-url: "https://registry.npmjs.org"
          scope: "@openfga"
          always-auth: false
          cache: "npm"
          cache-dependency-path: ./package-lock.json
      - run: npm install
      - run: npm run lint -- --ignore-path .galintignore
      - run: npm audit
        continue-on-error: true

  build:
    needs: lint
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version: 24.x
          registry-url: "https://registry.npmjs.org"
          scope: "@openfga"
          always-auth: false
          cache: "npm"
          cache-dependency-path: ./package-lock.json
      - run: npm install
      - run: npx playwright install
      - run: npm run compile
      - run: xvfb-run -a npm test
        if: runner.os == 'Linux'
      - run: npm test
        if: runner.os != 'Linux'
