name: Semgrep
on:
  push:
    branches:
      - main
jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep@sha256:742b87f61e36652e031337c2cdb03c9954a73657dac76206de1444eac3893e92 # 1.34.1
    if: (github.actor != 'dependabot[bot]' && github.actor != 'snyk-bot')
    steps:

    - name: Checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 0

    - run: semgrep ci
      env:
        SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
